<div role="main">

    <div id="menuPage" data-role="page" data-cache="never" class="page iscroll">
        <div class="scroller">
            <div class="company">
                <img src="~/Images/Gallery/bonsai.jpg" alt="company">
            </div>

            <ul class="menu">
                <li>
                    <ul class="section">
                        <li class="square">
                            <a class="box" href='@Url.Action("Videos")' data-transition="fade" data-direction="reverse" data-ajax="false">
                                <img src="~/Images/HomeIcons/film.png" alt="videos">
                                <span class="text"> Видеоклипове</span>
                            </a>
                        </li>

                        <li class="square">
                            <a class="box" href="services.html" data-transition="fade" data-direction="reverse">
                                <img src="~/Images/HomeIcons/services.png" alt="Services">
                                <span class="text"> Услуги</span>
                            </a>
                        </li>

                        <li class="square">
                            <a class="box" href="blog.html" data-transition="fade" data-direction="reverse">
                                <img src="~/Images/HomeIcons/blog.png" alt="Blog">
                                <span class="text"> Блог</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <ul class="section">
                        <li class="square">
                            <a class="box" href="gallery.html" data-transition="fade" data-direction="reverse">
                                <img src="~/Images/HomeIcons/gallery.png" alt="Gallery">
                                <span class="text"> Галерия </span>
                            </a>
                        </li>

                        <li class="square">
                            <a class="box" href="portfolio.html" data-transition="fade" data-direction="reverse">
                                <img src="~/Images/HomeIcons/shop.png" alt="Portfolio">
                                <span class="text"> Магазинче</span>
                            </a>
                        </li>

                        <li class="square">
                            <a class="box" href='@Url.Action("About")' data-transition="fade" data-direction="reverse" data-ajax="false">
                                <img src="~/Images/HomeIcons/info.png" alt="About Us">
                                <span class="text"> За нас</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <ul class="section">

                        <li class="square">
                            <a class="box" href="typography.html" data-transition="fade" data-direction="reverse">
                                <img src="~/Images/HomeIcons/tree.png" alt="Typography">
                                <span class="text"> Отглеждане</span>
                            </a>
                        </li>

                        <li class="square">
                            <a class="box" href="careers.html" data-transition="fade" data-direction="reverse">
                                <img src="~/Images/HomeIcons/shoping_cart.png" alt="Careers">
                                <span class="text"> Кошничка</span>
                            </a>
                        </li>


                        <li class="square">
                            <a class="box" href="contact.html" data-transition="fade" data-direction="reverse">
                                <img src="~/Images/HomeIcons/message_outline.png" alt="contact">
                                <span class="text"> Контакти</span>
                            </a>
                        </li>


                    </ul>
                </li>

            </ul>
            <!--end menu-->
        </div>
        <!--end scroller-->

    </div>
    <!--end menuPage-->

</div>

